<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    <div class="container">
      <div class="row">
        <% posts.forEach((post) => { %>
          <%- include('post_card', { post: post }); -%>
        <% }); %>
      </div>
      <div class = "botao-finalizar">
        <a href="/testimonials" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Finalizar e ir para o carrinho de compras</a>
      </div>
    </div>
   
  </body>
</html>
