<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="<%= `/images/${post.image}` %>" class="card-img-top">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">
          <%= post.title %>
        </h5>
        <p class="card-text"></p>
          <a><%= post.description %></a>          
        </p>
        <p class="card-text"></p>
          <a><%= post.body %></a>          
        </p>        
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
      </div>
    </div>
  </div>
</div>